.wrapper {
    background-color: var(--main);
    padding: 4vw 4vw;
}

.moviesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2vw;
    margin-bottom: 3vw;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    background-color: var(--secondary);
    max-width: 60vw;
    margin: auto;
    margin-bottom: 2rem;
}

button {
    transition: all 0.5s ease;
    color: #fff;
    transition: all 0.5s ease;
    color: #fff;
    border: 1px solid var(--accent2);
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
}

button:hover {
    color: #001f3f;
    background-color: #fff;
}

.wrapper h1 {
    width: fit-content;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 5rem;
    padding: 2vw;
    margin-bottom: 4vw;
    -webkit-box-shadow: 0px 0px 15px 1px #fff;
    box-shadow: 0px 0px 15px 1px #fff;
    font-size: clamp(2rem, 0.9437rem + 4.507vw, 5rem);
}

.logo {
    padding-right: 10px;
}
.logo img {
    width: 60px;
    transform: rotate(-10deg);
}

.moviesContainer h1 {
    width: fit-content;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 5rem;
    padding: 2vw;
    margin-bottom: 4vw;
    -webkit-box-shadow: 0px 0px 15px 1px #fff;
    box-shadow: 0px 0px 15px 1px #fff;
}

.fourSpan {
    color: var(--accent2);
}

.tile {
    padding: 2vw;
    background-color: var(--secondary);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    overflow: hidden;
}

.tile:hover {
    transition: 300ms ease-in-out;
    transform: scale(1.05);
}

.tile h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.tile p:nth-of-type(2) {
    font-size: 1.5rem;
}

.star {
    color: var(--accent2);
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}

.inputField {
    all: unset;
    padding: 10px 20px;
    border: 1px solid var(--accent2);
    color: white;
    margin-bottom: 2rem;
}

.errorMessage {
    font-size: 3rem;
    color: white;
}

@media screen and (max-width: 768px) {
    .moviesContainer {
        gap: 20px;
    }
    .buttonContainer {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        max-width: 90vw;
    }

    button {
        width: 200px;
        margin-bottom: 5px;
    }
    .tile {
        padding: 2vw 4vw;
        min-height: auto; /* Anpassen der Mindesthöhe */
    }

    .tile:hover {
        transform: scale(1);
    }
}
